.root {
    display: flex;
    flex: none;
    flex-direction: row;
    gap: var(--gap--16);
    align-items: center;
  
    padding: 0.5rem 1rem;
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius--8);
    color: var(--text-color);
  
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 1;
    text-align: center;
    background: var(--bg-color);
    /* user-select: none; */
  
    --font-size: var(--space--12);
    --text-color: var(--color-black);
    --bg-color: var(--color-white);
    --border-color: var(--color-black);
    --border-width: var(--space--2);
    transition: 330ms ease-out 0s;
}

.root:hover {
    transition: 210ms ease-in 0s;
    --bg-color: var(--color-5, var(--color-white));
}

.root:where(.solid) {
    --bg-color: var(--color-6);
}

.root:where(.solid):hover {
    --bg-color: var(--color-4);
}

.root:where(.fancy) {
    border: 2px solid #50D99F;
    background: #102B20;
    --text-color: #FFF;
}

.root:where(.fancy):hover {
    box-shadow:
    inset 0 1px 0 0 rgb(255 255 255 / 0.2),
    inset 0 0 var(--space--16) 0 var(--color-1),
    0 0 var(--space--10) 0 rgb(79 216 159 / 0.5);
}