.root {
    display: flex;
    flex: none;
    flex-direction: row;
    gap: var(--gap--16);
    align-items: center;
  
    padding: 0.5rem 1rem;
    border: 2px solid hsl(155, 64%, 58%);
    border-radius: var(--border-radius--8);
    color: var(--text-color);
  
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height: 1;
    text-align: center;
  
    --font-size: var(--space--12);
    --text-color: #FFF;
    --border-color: var(--color-black);
    --border-width: var(--space--2);

    transition: 330ms ease-out 0s;
    background: #102B20;
}

.root:hover {
    transition: 210ms ease-in 0s;
    box-shadow:
    inset 0 1px 0 0 rgb(255 255 255 / 0.2),
    inset 0 0 var(--space--16) 0 var(--color-cool-green--1),
    0 0 var(--space--10) 0 rgb(79 216 159 / 0.5);
}
